.row.launch-error{style: "display: none;"}
  .small-12.text-center.columns{style: "color: #990000" }
    There was a problem setting up this interactive. Please try refreshing your page.
-if @document
  - if @document.shared
    .row
      .small-12.text-center.columns.end
        #loading-message
          %span#loading-image
            =image_tag "loading.gif"
          %span#loading-text
            Loading...
    %iframe#autolaunch_iframe

    .data-select-dialog
      .overlay
        This is read-only preview of your data. Click anywhere to close it.

      .header
        WHAT WOULD YOU LIKE TO DO?
      .content
        #question

        .versions
          .version-info
            #state1-button.dialog-button
              Use this version

            .preview
              .iframe-wrapper
                %iframe#state1-preview
            .center.preview-label
              Click to preview

            %table.version-desc
              %tr
                %th Updated at
                %td#state1-time
              %tr
                %th Page
                %td
                  %span#state1-page-idx
                  %span#state1-page-name
              %tr
                %th Activity
                %td#state1-activity-name

          .version-info
            .center
              #state2-button.dialog-button
                Use this version

            .preview
              .iframe-wrapper
                %iframe#state2-preview
            .center.preview-label
              Click to preview

            %table.version-desc
              %tr
                %th Updated at
                %td#state2-time
              %tr
                %th Page
                %td
                  %span#state2-page-idx
                  %span#state2-page-name
              %tr
                %th Activity
                %td#state2-activity-name

  -else
    .row
      .small-12.text-center.columns{style: "color: #990000" }
        Error: The requested document is not shared.
-else
  .row
    .small-12.text-center.columns{style: "color: #990000" }
      Error: The requested document could not be found.

-if @document && @document.shared
  :javascript
    $(document).ready(function() {
      autolaunchInteractive(#{@document.id}, #{@launch_url.to_json})
    });
