%ul.breadcrumbs
  %li= link_to 'Home', root_path
  %li= link_to 'Documents', documents_path
  %li= link_to @document.title, document_path(@document)
  %li.current
    %a{href: '#'} Edit

%h1 Editing document

= render 'form'
