-if @master_document_url
  - if @supplemental_documents && @supplemental_documents.size > 0
    - sorted_docs = @supplemental_documents.sort_by{|d| d.updated_at }.reverse
    .row
      .small-3.columns
        - most_recent = sorted_docs.shift  # remove the first (most recent) doc from the array and use it
        = link_to 'Launch most recent!', codap_link(@codap_server, most_recent), class: :"launch-button", target: "_blank"
      .small-9.columns
        %ul.small-block-grid-5
          - sorted_docs.each do |doc|
            %li= link_to doc.title, codap_link(@codap_server, doc), class: :"launch-button", target: "_blank"
  - else
    .row
      .small-3.columns.end
        No documents have been saved!
- else
  .row
    .small-12.columns{style: "color: #990000" }
      Error: The requested document could not be found.
