-test_url = "https://codap.concord.org/releases/latest/static/dg/en/cert/"
.row.launch-error{style: "display: none;"}
  .small-12.text-center.columns{style: "color: #990000" }
    There was a problem setting up this interactive. Please try refreshing your page.

%iframe#fullscreen_iframe{src: test_url}

#fullscreen-help
  Click here to enter/exit fullscreen →

.fullscreen-icon


:javascript
  $(document).ready(function() {
    fullscreenSupport($('#fullscreen_iframe'))
    console.log('bing')
  });
