.simple_form {
  .hint {
    position: relative;
    top: -0.9rem;
    margin-left: 10px;
    color: #777;
    font-style: italic;
  }
}

.centered {
  text-align: center;
}

.green-check {
  color: green;
  font-size: 1.5em;
}

@import "foundation/components/buttons";
.button {
  @include button($radius: rem-calc(15));
}
.sso-button {
  @include button($padding: rem-calc(10), $bg: orange, $radius: rem-calc(7));
}
.launch-button {
  @include button($padding: rem-calc(10), $bg: orange, $radius: rem-calc(4), $full-width: false);
  margin-bottom: rem-calc(5);
  margin-right: 0;
  font-size: rem-calc(30);

  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0 inset,rgba(0,0,0,0.2) 0 1px 2px;

  background-image: -webkit-linear-gradient(top, #ffb733, #ffa500);
  background-image: linear-gradient(top, #ffb733, #ffa500);

  font-family: "Lato-Regular",Helvetica,Arial,Verdana,sans-serif;
}

@import "foundation/components/block-grid";
.launch-block-grid {
  @include block-grid($per-row: 5, $spacing: rem-calc(8), $base-style: true);
}

pre code {
  font-size: 0.8em;
  margin-top: -20px;
}

.more-space-above {
  margin-top: 10px !important;
}

.original-reset {
  font-size: 0.8em;
  color: #408187;
}
