.simple_form {
  .hint {
    position: relative;
    top: -0.9rem;
    margin-left: 10px;
    color: #777;
    font-style: italic;
  }
}

.centered {
  text-align: center;
}

.green-check {
  color: green;
  font-size: 1.5em;
}

@import "foundation/components/buttons";
.button {
  @include button($radius: rem-calc(15));
}
.sso-button {
  @include button($padding: rem-calc(10), $bg: orange, $radius: rem-calc(7));
}
.launch-button {
  @include button($padding: rem-calc(10), $bg: orange, $radius: rem-calc(7));
  margin-bottom: rem-calc(5);
}

@import "foundation/components/block-grid";
.launch-block-grid {
  @include block-grid($per-row: 5, $spacing: rem-calc(8), $base-style: true);
}

pre code {
  font-size: 0.8em;
  margin-top: -20px;
}
