// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_list {
  border-spacing: 0px;
}

.wrapper {
  background-color: #f9f9f9;
  &:hover {
    background-color: #e9e9e9 !important;
  }
  &.collapsed {
    .title:before {
      content: "\25ba";
      padding-right: 5px;
    }
  }

  &.expanded {
    .title:before {
      content: "\25bc";
      padding-right: 5px;
    }
    background-color: #f0f0f0;
    border-color: grey;
  }

}

.doc_part {
  background-color: #e4e4ff !important;
  .title {
    padding-left: 50px;
  }
}
