- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:"data-alert" => true, :class => "alert-box radius #{name.to_s == "notice" ? "success" : "alert"}"}
      = msg
      %a{:href => "#", :class => "close"}= "&times;".html_safe
